<!DOCTYPE html>
<html>
<head>    
    <link rel="stylesheet" href="/css/pageForm.css">
    <title><%= title %></title></head>
<body>
    <br><br><br>
<div id="mainWrapper">
    <ul>
<li style="text-align: left;"><%= title %></li>

<li>
    <ul id ="ulTable">
        <li>
            <ul>
                <li>번호</li>
                <li>작성자</li>
                <li>제목</li>
                <li>조회수</li>
                <li>수정일</li>
                <li>등록일</li>
            </ul>
        </li>
    <%
    for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
    if(i > length){
        i++;
    }else{
        var data = rows[i]
    %>
    <li>
        <ul>
        <li><%= i + 1 %></li>
        <li><%= data.name %></li>
        <li><a href="/board/read/<%= data.idx %>"><%= data.title %></a></li>
        <li><%= data.hit %></li>
        <li><%= data.modidate %></li>
        <li><%= data.regdate %></li>
        </ul>
    </li>
    <% }
    }
    %>
    <br>
    <li>
        <div id ="divPaging"> 
            <div>◀</div>
            <%
            for(var j = 0; j < rows.length / page_num; j++){
           
            %>
            
            <div class="pageBtn"><a class="pb" href="/board/page/<%= j + 1 %>"><%= j + 1 %></a></div>
            <%
            
            }
            %>
            <div>▶</div>
            <a class="write" href="/board/write">글쓰기</a>
        </div>
    </li>
    </ul>
</div>
</body>
</html>
