<!DOCTYPE html>
<html>
<head>    
    <link rel="stylesheet" href="/css/readForm.css">
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
 
<form action="/board/delete" method="post">
    <table>
        <input type="hidden" name="idx" value="<%=row.idx%>"/>
        
        <tr>
            <td class="td_n">제목</td>
            <td><div><%=row.title%><div></td>
        </tr>
        <tr>
            <td class="td_n">작성자</td>
            <td><div><%=row.name%></div></td>
        </tr>
        <tr>
            <td class="td_n">내용</td>
            <td><pre class="contents"><%=row.content%></pre></td>
        </tr>
        <tr>
            <td class="td_n">변경일</td>
            <td><%=row.modidate%></td>
        </tr>
        <tr>
            <td class="td_n">등록일</td>
            <td><%=row.regdate%></td>
        </tr>
        <tr>
            <td class="td_n">조회수</td>
            <td><%=row.hit%></td>
        </tr>
        
        <tr>
            <td class="td_n">패스워드</td>
            <td><input type="password" name="passwd" id="passwd" required/></td>
        </tr>
        <tr>
            <td colspan="2">
             <!--<button type="submit">글 수정</button>-->
             <a href="/board/update/<%=row.idx%>">수정</a>
             <a href="/board/page/1">목록</a>
             <input class="btn" type="submit" value="삭제">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
