<!DOCTYPE html>
<html>
<head>    
    <link rel="stylesheet" href="/css/readForm.css">
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
 
<form action="/board/update" method="post">
    <table>
        <input type="hidden" name="idx" value="<%=row.idx%>"/>
        <tr>
            <td class="td_n">작성자</td>
            <td><input type="text" name="name" id="name" value="<%=row.name%>" required/></td>
        </tr>
        <tr>
            <td class="td_n">제목</td>
            <td><input type="text" name="title" id="title" value="<%=row.title%>" required/></td>
        </tr>
        <tr>
            <td class="td_n">내용</td>
            <td><textarea name="content" id="content" cols="30" rows="10" required><%=row.content%></textarea></td>
        </tr>
        <tr>
            <td class="td_n">패스워드</td>
            <td><input type="password" name="passwd" id="passwd" required/></td>
        </tr>
        <tr>
            <td colspan="2">
             <!--<button type="submit">글 수정</button>-->
                <input class="btn" type="submit" value="수정">
                <a href="/board/read/<%=row.idx%>">뒤로</a>
            </td>
        </tr>
    </table>
</form>
<script>
</script>
</body>
</html>
